/* social */
ul.social-network {
    list-style: none;
    margin-left:0 !important;
    padding-left:0 !important;
}
ul.social-network li {
    display: inline;
}

.social-network a.icoFlickr:hover {
    background-color: #FF0084;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoGithub:hover {
    background-color:#000000;
}
.social-network a.icoBehance:hover {
    background-color:#000000;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoSpotify:hover {
    background-color:#1db954;
}
.social-network a.icoImdb:hover {
    background-color:#f5de50;
}
.social-network a.icoChess:hover {
    background-color:#769656;
}

.social-network a.icoFlickr:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoGithub:hover i,
.social-network a.icoBehance:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoSpotify:hover i
, .social-network a.icoImdb:hover i, .social-network a.icoChess:hover i{
    color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    background-color: #D3D3D3;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    height: 100%;
    background-color: #333;
    font-family: 'Anton', sans-serif;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

h2 {
    font-weight: 200;
    margin: 0.4em 0;
    color: #888;
    font-size: 1.5em;
}