html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
}

#content a {
    background-color: rgba(187,239,253,0.3);
    color: #1a1a1a;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#content a:hover {
    background-color: #bbeffd;
}

/* Remove black border of inputs on Chrome */
*,
*:focus,
*:hover {
    outline:none;
}

#content {
    padding: 7px;
    margin: 20px auto 27px;
    max-width: 940px;
}

.page-top {
    display: flex;
    justify-content: space-around;
    animation: fadeIn 5s;
}

.image-container img {
    animation: fadeIn 5s;
    
}

.main-language {
    color: rgb(245, 84, 111);
}

.buttons {
    display: flex;
    justify-content: space-around;
    max-width: 390px;
    margin: 50px auto 20px;
}

.buttons button {   
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    padding: 5px 10px;
    color: #fb1e7b;
    background: white;
}

.buttons button:hover {
    color: white;
    background:  #fb1e7b;
    border: 2px solid #fb1e7b;
}

footer {
    text-align: center;
    background-color: rgb(245, 84, 111);

    padding: 2px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
}

footer p {
    margin: 0;
}

strong {
    font-weight: bold;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

/* 

.project {
    padding: 1em 0;
    display: flex;
}

.project img {
    width: 60%; 
    animation: fadeIn 2s;
    padding: 1em;
}  

.project p {
    animation: fadeIn 1s;
    -webkit-text-size-adjust: none;
    
    text-rendering: optimizeLegibility;
    padding: 1em;
    width: 40%;
}





.skills {
    column-count: 4;
    display: flex;
    color: rgb(36, 36, 36);
    padding: 0 0 0 10%;
    margin: 1.5em auto;
    background: #e3e3e3 url(/images/services-background.png);
    border-radius: 10px;
}


.skills p {
    width: 25%;
    animation: fadeIn 5s;
}
*/

#short p {
    animation: fadeIn 1s;
    text-align: justify;
}

#services {
    animation: fadeIn 2s;
    text-align: center;
    padding-top: 5%;
}

#skills {
    color: rgb(36, 36, 36);
    padding: 2% 2% 2% 2%;
    margin: 2% 2% 2% 2%;
    background: #e3e3e3 url(images/services-background.png);
    border-radius: 10px;
    text-align: center;
}

#project {
    padding: 1em 0;
}

#project img {
    padding: 1em;
}  

#project p {
    text-rendering: optimizeLegibility;
    padding: 8% 2% 2% 2%;
}

#contact {
    text-align: center;
    animation: fadeIn 1s;
}


/* social */

#contact li {
    display:inline-block;
    border-radius:10%;
    width: 40px;
    height: 40px;
    font-size:30px;
    background-color: rgb(245, 84, 111);
    margin: 0.1em;
}

#contact li a {
    background-color: transparent;
    color: white;
    
}

#contact li a:hover{
    background-color: transparent;
}

#contact li.icoGithub:hover{
    background-color: black;
}

#contact li.icoStack:hover {
    background-color: #F48024;
}

#contact li.icoFlickr:hover {
    background-color: #FF0084;
}

#contact li.icoFacebook:hover {
    background-color:#3B5998;
}

#contact li.icoBehance:hover {
    background-color:#000000;
}

#contact li.icoLinkedin:hover {
    background-color:#007bb7;
}

#contact li.icoSpotify:hover {
    background-color:#1db954;
}

#contact li.icoImdb:hover {
    background-color:#f5de50;
}

#contact li.icoChess:hover {
    background-color:#769656;
}

#contact li.icoUnsplash:hover {
    background-color:#000000;
}

#contact li.icoWordpress:hover {
    background-color:#007bb7;
}


/* No scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Effects */

li:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* end effects */



