:root {
    --main-color: rgb(245, 84, 111);
    --background-color: #e3e3e3;
    --link-bg-hover: #bbeffd;
    --link-color: #1a1a1a;
    --btn-border: #e7e7e7;
    --btn-hover-bg: #fb1e7b;
    --btn-hover-color: white;
}

html, 
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}


h1 {
    font-family: "Inter", sans-serif;
    font-size: 3em;
    font-optical-sizing: auto;
    font-weight: 700;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    background-color: var(--background-color);
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: var(--link-bg-hover);
    text-decoration: none;
}


#content {
    padding: 4% 2% 5% 2%;
    max-width: 940px;
}



/* Footer */
footer {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27px;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Remove black border of inputs on Chrome */
*,
*:focus,
*:hover {
    outline: none;
}

.main-language {
    color: var(--main-color);
}

/* Botones */

.inline-button {
    color: var(--btn-hover-bg);
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
}

.inline-button:hover {
    color: var(--btn-hover-bg); /* Cambia el color al pasar el mouse, como un enlace */
    text-decoration: underline;
}

/* Wave Animation */
.wave {
    animation: wave-animation 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}


/* Project */
#project {
    padding-top: 12%;
}

#project img {
    padding: 1em;
}

#project p {
    text-rendering: optimizeLegibility;
    padding-top: 4%;
        padding-left: 8%;
}


.image-project {
    align-self: center;
}

/* Profile */
#resume-content {
    font-size: 16px;
    line-height: 1.5;
}

#profile h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
}

#profile h3 {
    margin-top: 20px;
    font-size: 24px;
}

#profile h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

#profile p, #profile ul {
    margin-bottom: 15px;
}

#profile ul {
    list-style-type: disc;
    margin-left: 20px;
}

.col-12.mb-3, .col-12.mb-3 {
    background-color: #f8f9fa;
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px;
}

.row.mb-3 > .col-12 {
    background-color: #f8f9fa; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Contact */

/* Social */
#contact li {
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: var(--main-color);
    margin: 0.1em;
    transition: background 0.2s, transform 0.2s;
}

#contact li a {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

#contact li a:hover {
    background-color: transparent;
}

#contact li:hover {
    transform: rotate(360deg);
}

#contact li.icoGithub:hover {
    background-color: black;
}

#contact li.icoStack:hover {
    background-color: #F48024;
}

#contact li.icoFlickr:hover {
    background-color: #FF0084;
}

#contact li.icoFacebook:hover {
    background-color: #3B5998;
}

#contact li.icoBehance:hover {
    background-color: #000000;
}

#contact li.icoLinkedin:hover {
    background-color: #007bb7;
}

#contact li.icoSpotify:hover {
    background-color: #1db954;
}

#contact li.icoImdb:hover {
    background-color: #f5de50;
}

#contact li.icoChess:hover {
    background-color: #769656;
}

#contact li.icoUnsplash:hover {
    background-color: #000000;
}

#contact li.icoWordpress:hover {
    background-color: #007bb7;
}

/* No scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Effects */
.prioritize {
    font-size: larger;
}

@keyframes wave-animation {
    0% { transform: rotate(0); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60%, 100% { transform: rotate(0); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s;
}

/* Toggle Switch */
.switch {
    position: fixed;
    bottom: 33px;
    right: 15px;
    width: 89px;
    height: 33px;
    z-index: 9999;
}

.flex-fixed-width-item {
    flex: 0 0 100px;
}

.content-container {
    position: relative; /* Define el contenedor como referencia para el botón */
    padding: 20px; /* Ajusta el padding si quieres espacio adicional */
}

.close-button {
    position: absolute;
    background-color: white;
    top: 10px; /* Ajusta según tu preferencia */
    right: 10px;
    color: black;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    display: none; /* Oculto por defecto */
}


#work:not(.hidden) .close-button,
#profile:not(.hidden) .close-button {
    display: block; /* Mostrar solo cuando la sección esté visible */
}


/* Toggle Switch Labels */
.en {
    display: none;
}

.en, .es {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
}


/* Media Queries */
/* Mobile landscape or tablets portrait */
@media (max-width: 720px) {
    
    h1 {
        font-size: 3em;
    }
}
